/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


/* GLOBAL */

:root {
    --intro-Blue: hsl(217, 28%, 15%); /* (intro and email sign up background) */
    --main-Blue: hsl(218, 28%, 13%); /* (main background) */
    --footer-Blue: hsl(216, 53%, 9%); /* (footer background) */
    --testimonials-Blue: hsl(219, 30%, 18%); /* Accent (testimonials background) */
    --Cyan: hsl(176, 68%, 64%); /* (inside call-to-action gradient) */
    --Blue: hsl(198, 60%, 50%); /* (inside call-to-action gradient) */
    
    /* Neutral  */
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--intro-Blue);
    color: var(--White);
    text-align: center;
    position: relative;
}

a {
    color: var(--White);
    text-decoration: none;
}

h1,
h2,
h3,
header li,
#cta {
    font-family: Raleway;
}

p {
    font-size: 1.25em;
}

input,
button {
    -webkit-appearance: none;
}

li {
    list-style: none;
}

a,
button {
    cursor: pointer;
}

button {
    border-style: none;
    background-image: linear-gradient(
        to right,
        var(--Cyan),
        var(--Blue)
    );
    border-radius: 50px;
    height: 45px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */

header {
    margin: 4em 0;
}

header ul {
    width: 250px;
}


/* SECTION:HERO */

#hero {
    position: relative;
    z-index: 2;
    margin-bottom: 140px;
}

h1,
h2 {
    font-size: 2.5em;
    line-height: 1.5em;
    max-width: 600px;
    margin: 30px auto;
}

#hero p {
    max-width: 550px;
    margin: 0 auto;
}

#hero button {
    width: 250px;
    height: 50px;
    padding: 0;
    margin-top: 30px;
}


/* SECTION:FEATURES */

#features,
#hero2,
#testimonials {
    background-color: var(--main-Blue);
}

#features {
    position: relative;
    z-index: 1;
}

#features::before {
    content: '';
    position: absolute;
    height: 380px;
    width :100%;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: -370px;
    left: 0;
    z-index: 0;
}

#features .container {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    padding: 20px 0 100px;
}

#features .container > div {
    margin-bottom: 100px;
}

h3 {
    font-size: 1.25em;
    margin: 10px 0;
}

#features p {
    font-size: 1em;
    opacity: 0.9;
}


/* SECTION:HERO2 */

#hero2 {
    padding-bottom: 100px;
}

#hero2 img {
    width: 45%;
}

#hero2 .info {
    width: 45%;
    text-align: left;
}

#hero2 h2 {
    width: 60%;
    margin: 0;
}

#hero2 p {
    margin: 15px 0;
    font-size: 1em;
}

.primary-link {
    color: var(--Cyan);
    width: 155px;
    position: relative;
}

.primary-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var(--Cyan);
}

#hero2 svg {
    width: 20px;
}


/* SECTION:TESTIMONIAL */

#testimonials .container {
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    padding: 35px 0 300px 5px;
}

.testimonial-box {
    background-color: var(--testimonials-Blue);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(20, 17, 39, 0.5);
    width: 31%;
    padding: 30px 20px 20px;
    text-align: left;
}

.testimonial-box p {
    font-size: 1em;
}

.testimonial-box img {
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}

.profile.flex {
    justify-content: flex-start;
}

.saying {
    margin-bottom: 20px;
}

.profile-head {
    font-weight: 700;
}

.testimonial-box .profile-about {
    font-size: 0.75em;
}


/* CTA */

#cta {
    font-family: "Raleway", sans-serif;
    width: 60%;
    position: absolute;
    left: 50%;
    padding: 0 10px 40px;
    margin-left: -30%;
    bottom: 350px;
    background-color: var(--intro-Blue);
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#cta h2 {
    margin-bottom: 20px;
}

#cta p {
    font-size: 1em;
    margin: 20px auto 30px;
    width: 80%;
}

input {
    border-style: none;
    border-radius: 30px;
    height: 45px;
    width: 65%;
    padding: 0 30px;
}

#cta button {
    font-size: 1em;
    width: 30%;
}

::placeholder {
    opacity: 0.5;
}


/* FOOTER */

footer {
    background-color: var(--footer-Blue);
    padding: 175px 0 75px;
    text-align: left;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

footer .logo {
    margin-bottom: 30px;
}

.footer-flex ul {
    max-width: 30%;
}

.footer-flex li {
    margin-bottom: 10px;
}

#social-links {
    align-self: flex-start;
}

#social-links li {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {

    /* HEADER */

    header {
        margin: 1.5em 0 5em;
    }

    header .logo {
        width: 100px;
    }

    header ul {
        width: 50%;
    }

    /* SECTION:HERO */


    #hero {
        margin-bottom: 100px;
    }
    #hero img {
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    /* SECTION:FEATURES ############FIX THIS LATER*/

    #features::before {
        background-image: url(./images/bg-curvy-mobile.svg);
        background-size: contain;
        top: -510px;
        height: 160px;
    }

    #features::after {
        content: '';
        background-color: var(--main-Blue);
        height: 375px;
        width: 100%;
        top: -375px;
        left: 0;
        position: absolute;
        z-index: 0; 
    }

    #features .container {
        grid-template-columns: 1fr;
        width: 76%;
    }

    /* SECTION:HERO2 */

    #hero2 .container {
        flex-direction: column;
    }

    #hero2 img,
    #hero2 .info {
        width: 100%;
    }

    #hero2 h2 {
        width: 100%;
        font-size: 1.5em;
        margin-top: 50px;
    }


    /* SECTION:TESTIMONIAL */

    #testimonials .container {
        flex-direction: column;
        padding: 15px 0 300px 0;
        background-size: 25px;
        width: 80%;
    }

    .testimonial-box {
        width: 100%;
        margin-bottom: 30px;
    }

    .testimonial-box .saying {
        font-size: 0.9em;
    }

    
    /* CTA */

    #cta {
        width: 90%;
        margin-left: -45%;
        bottom: 750px;
    }

    #cta h2 {
        font-size: 1.5em;
    }

    #cta h2,
    #cta p {
        width: 100%;
    }

    #cta p {
        font-size: 1.15em;
    }

    form {
        flex-direction: column;
    }

    input {
        margin-bottom: 20px;
    }

    input,
    #cta button {
        width: 100%;
    }


    /* FOOTER */

    footer {
        padding: 250px 0 10px;
    }

    .footer-flex {
        flex-direction: column;
    }

    .footer-flex ul {
        max-width: 100%;
        margin-bottom: 30px;
    }

    #social-links {
        align-self: center;
    }
}